<head>
	<title>About Me</title>
	<link rel="stylesheet" type="text/css" href="subhash.css">
	<link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
	 crossorigin="anonymous"></script>
	 var fName = document.getElementById('firstName');
var lName = document.getElementById('lastName');
var dob = document.getElementById('dob');
var click = document.getElementById('cal');

function ageCalulator(){
	if(fName.value===""){
			 
		alert("All feilds are manditory");
	    }
	    else if(lName.value==="") {
	    	
	    	alert("All feilds are manditory");
	    }
	    else if(dob.value==="") {
	    	
	    	alert("All feilds are manditory");
	    }

		else{
			click.setAttribute("data-target", "#myModal");
		$("#name").text(fName.value+ " " + lName.value);
		$("#Age").text(getAge(dob.value));
		}
	 
}

function getAge(dob){

	var year ;
    	var month; 
    	var day;
    	var age;
    	var mdif;


		if(dob.length==10){

			 year = parseInt(dob.substring(0,4), 10);
    	 month = parseInt(dob.substring(5,7), 10);
    	 day = parseInt(dob.substring(8,10), 10);
    	 var now = new Date()	
		 age = now.getFullYear() - year
		 mdif = now.getMonth() - month + 1 //0=jan	
		
		}
		
		else{
			age = 0;
		}
			
		if(mdif < 0)
		{
			--age
		}
		else if(mdif == 0)
		{
			var ddif = now.getDate() - day
			
			if(ddif < 0)
			{
				--age
			}
		}

		
		return age;

}

	
</head>
