<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Jeevan Sai Subhash Veeramachaneni</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false"
			 aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="ageCalculator.html">Age Calculator</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="contactUs.html">Contact Us</a>
					</li>
				</ul>

			</div>

		</nav>

		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-8 about">I am from Hyderabad,Telangana,INDIA. I graduated in the year 2018 from KLU, Vijayawada.I have done a project on cloud computing in my final year, 
Which really boosted my interest towards Cloud industry and the latest technologies.</div>

			<div class="col-sm-2">
				<img class="profile img-circle" src="jeevan.jpg" alt="profile picture">
			</div>
			<div class="col-sm-1"></div>
		</div>


		<div class="container">
			<p id="tag">VIDEO</p>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" width="300" height="300" src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen></iframe>
			</div>
		</div>


		<div class="row ">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<h2 class="h"> Education details :</h2>
				<br>
				<table class="T1">
					<tr>
						<th>Qualification</th>
						<th>College/University</th>
						<th>Year of Passing</th>
					</tr>
					<tr>
						<td>B.Tech</td>
						<td>KLU</td>
						<td>2018</td>
					</tr>
					<tr>
						<td>Intermediate</td>
						<td>Chaitanya junior college</td>
						<td>2014</td>
					</tr>
					<tr>
						<td>SSC</td>
						<td>Sri Chaitanya Tecno School</td>
						<td>2012</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-6"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<h2 class="h"> Objective :</h2>
				<br>
				<p class="p"> My objective is to pursue a highly rewarding career, 
         seeking for a job in challenging and healthy environment where I can utilize 
         my skills and knowledge efficiently for me as well as organizational growth.
				</p>
			</div>
			<div class="col-sm-1"></div>
		</div>

		<br>

		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<h3 class="h"> Interests and Strengths :</h3>
				<br>
				<ol class="li">
					<li>Exercise, Running, Swimming, Team Sports like Crciket,Badminton,Football etc</li>
					<li>Listening Music</li>
					<li>Traveling</li>
					<li>Playing fifa on PS4</li>
				</ol>
				<p class="p">
					Also my main strangth is I believe in sincerity and dedication in the execution of work assigned to me and also maintaining
					high standard of good team work.
				</p>
				<div class="col-sm-1"></div>
			</div>
		</div>
	</div>
</body>